* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(65, 31, 0);
    color: #ccbba1;
    line-height: 1.6;
}

header {
    background-color: #8d4b00;
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(255, 238, 0);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    background-color: rgb(37, 18, 0);
    padding: 30px;
    border-radius: 10px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #df9970;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    color: #c09768;
}

p {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

ul,
ol {
    list-style-position: inside;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 20px;
}
input {
    background-color: #e2c5ac;
}
select {
    background-color: #e2c5ac;
}
textarea {
    background-color: #e2c5ac;
}
label {
    color: #ffffff;
}
.botao {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
}

.botao:hover {
    background-color: #4b4b4b;
}

footer {
    text-align: center;
    background-color: #8d4b00;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #995a20;
    color: white;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #5e2d00;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4b4b4b;
}
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    main {
        width: 95%;
        padding: 20px;
    }

    table {
        font-size: 14px;
    }
}
